.navbar{
    margin: 0;
    width: 100vw;
    height: 7.5vh;
    background-color: rgb(216, 208, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    margin: 0;
    color: #29282F;
    font-weight: 700;
}

.side{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}